.container {
  text-align: center;
  width: 70%;
  margin: auto;
}


.dice {
  display: inline-block;
  margin: 0 50px;
}

body {
  background-color: #393E46;
}


h1 {
  text-shadow: 2px 2px #FAEBD7;
  margin: 10px auto 0;
  font-size: 6rem;
  color: #4ECCA3;
  font-family: 'Lobster', cursive;
}


p {
  font-size: 3rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}


footer {
  margin-top: 20px;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
}
